<html>
<body>
        Hello {{username}}
<div id="header">
    <div class="logo"></div>
    <h1>Code Repository</h1>
    <h2>Code repository is a development platform inspired by the way you work.</h2>
</div>
<div id="bottomContent">
	<div class="navColumn"> 
    	<div class="overview">
            Code repository is a development platform inspired by the way you work. 
            From open source to business, you can host and review code, manage projects, and build software alongside 36 million developers.
            A source-code repository is a file archive and web hosting facility where a large amount of source code, for software or for web pages, is kept, either publicly or privately.
            They are often used by open-source software projects and other multi-developer projects to handle various versions.
        </div>
    	<div class="link"><a href="http://www.bryantsmith.com">Home</a></div>
        <div class="link"><a href="http://www.bryantsmith.com">About Us</a></div>
        <div class="link"><a href="http://www.bryantsmith.com">Services</a></div>
        <div class="link"><a href="http://www.bryantsmith.com">Portfolio</a></div>
        <div class="link"><a href="http://www.bryantsmith.com">Web Programming</a></div>        
        <div class="link"><a href="http://www.bryantsmith.com">Search Engine Optimization</a></div>
        <div class="link"><a href="http://www.bryantsmith.com">Contact Us</a></div>
        
<div id="navBottom"></div>
    </div>
    <input type="button" class="btn btn btn-primary" value="Get Started" >

</div>
</body>
</html>