<html>
    <body>
     <div id="main">
            Hello {{username}}
        <div id="header">
              <div id="headerTitle">Code Sage</div>
          <!-- <div id="headerSubText">http://www.your-url-here.com</div> -->
          </div>
  
  
  <div id="content">
  <div id="columnOne">
      <!-- <h1><a href="#">Article titles are H1 tags</a></h1>
      <h3>Written by Admin - Posted: 10-28-2008</h3> -->
      <div class="content">
          <p>Information is everywhere.
                Answers are on Code Sage.</p><br />
          <blockquote> No more digging through stale documentation, lost emails, and chat threads. For every developer and every team, Stack Overflow makes it easy to search and find answers in a private and secure environment.</blockquote>  

          <!-- <div class="comments"><a href="#">Comments (2)</a></div> -->
      </div>
          <input type="button" class="btn btn btn-primary" value="Get Started" >
 </div>
 
 </div>
 </div>
 
</body>
</html>